.boton {
  font-size: inherit;
  color: #000;
  background-color: rgb(37, 255, 45);
  border-radius: 5px;
  border: 2px solid rgb(37, 255, 45);
}
.boton:hover {
  font-weight: bolder;
  background-color: rgb(37, 255, 45);
  box-shadow: 0 0 20px rgb(60, 239, 66);
}
.input {
  font-size: inherit;
  max-width: 75%;
  width: 5em;
  border-radius: 10em;
  border: 0;
}
.container {
  width: 100%;
  font-size: inherit;
  display: flex;
  justify-content: space-between;
}

@media (min-width: 426px) {
  .container {
    font-size: 10px;
  }
}
@media (min-width: 768px) {
  .container {
    font-size: 12px;
  }
}
@media (min-width: 970px) {
  .container {
    font-size: 15px;
  }.input{
    width: 10em;
  }
}
@media (min-width: 1399px) {
  .container {
    font-size: 20px;
  }
}
@media (min-width: 2802px) {
  .container {
    font-size: 30px;
  }
}