.nav {
  height: fit-content;
  padding: 15px;
  background-color: rgb(54, 50, 93);
  display: grid;
  grid-template-columns: 5% 20% 50% 20% 5%;
  grid-template-rows: 100px;
}
.controles {
  grid-area: 1 / 4 / 2 / 5;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 15px;
}
.searchBar {
  grid-area: 1 / 1 / 2 / 5;
  display: flex;
  align-items: flex-end;
}
.addRandom {
  font-size: calc(0.3em + .5vw);
  grid-area: 2 / 1 / 3 / 3;
  color: #000;
  margin: auto;
  height: 80%;
  width: 90%;
  background-color: rgb(37, 255, 45);
  opacity: 1;
  border-radius: 5px;
  border: 2px solid rgb(37, 255, 45);
}
.addRandom:hover {
  font-weight: bolder;
  background-color: rgb(37, 255, 45);
  opacity: 1;
  box-shadow: 0 0 20px rgb(60, 239, 66);
}
.addAll {
  font-size: calc(0.3em + .5vw);
  grid-area: 2 / 3 / 3 / 5;
  color: #000;
  margin: auto;
  height: 80%;
  width: 90%;
  background-color: rgb(37, 255, 45);
  opacity: 1;
  border-radius: 5px;
  border: 2px solid rgb(37, 255, 45);
}
.addAll:hover {
  font-weight: bolder;
  background-color: rgb(37, 255, 45);
  opacity: 1;
  box-shadow: 0 0 20px rgb(60, 239, 66);
}
.divlogo {
  display: flex;
  justify-content: center;
  height: 100%;
  grid-area: 1 / 3 / 2 / 4;
}
.logo {
  height: 100%;
}.aboutMe{
  display: flex;
  align-items: center;
  grid-area: 1 / 2 / 2 / 3;
  height: 100%;
}.divFoto{
  height: 80%;
}.foto{
  height: 100%;
  border-radius: 50%;
}.foto:hover{
  box-shadow: 0 0 25px 10px rgb(60, 239, 66);
}

.texto{
  padding-left: 10px;
}.creado{
  color: rgb(169, 178, 178); opacity: 0.5;
  text-align: center;
  font-size: calc(0.6em + .5vw);
  margin: 0;
  margin-bottom: 4px;
}.yo{
  color: #000;
  font-size: calc(0.7em + .5vw);
  margin: 0;
}.yo:hover{
  background-color: rgb(37, 255, 45);
  box-shadow: 0 0 20px rgb(60, 239, 66);
  padding-bottom: 3px;
  border-radius: 5px;
  font-weight: bolder;
}.link{
  text-decoration: none;
}